{
	"bracketSpacing": true,
	"overrides": [
		{
			"files": "tsconfig*.json",
			"options": {
				"parser": "json-stringify"
			}
		}
	],
	"plugins": ["prettier-plugin-packagejson", "prettier-plugin-sort-json"],
	"printWidth": 180,
	"semi": true,
	"singleQuote": false,
	"tabWidth": 3,
	"trailingComma": "all",
	"useTabs": true
}
